<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <title>Tasklist</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/bower_components/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="/javascripts/handlebarsHelper.js"></script>
    <script type="text/javascript" src="/javascripts/services/httpService.js"></script>
    <script type="text/javascript" src="/javascripts/services/dataService.js"></script>
    <script id="tasklist-template" type="text/x-handlebars-template">
        \{{#each this}}
        <article data-task-id="\{{_id}}">
            <div class="row flex-container">
                <div class="col-1">
                    <h1>\{{formatDate finishDate "words"}}</h1>
                    <div class="input-wrapper checkbox">
                        <input class="checkboxFinishNote" data-id="\{{_id}}" type="checkbox" \{{#if finished}}checked\{{/if}}>
                        <label>
                            <span>
                                \{{#if finished}}
                                    Finished
                                \{{else}}
                                    \{{formatDate finishDate}}
                                \{{/if}}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <h1>\{{title}}</h1><span class="priority-wrapper">\{{{renderPriorityHTML priority}}}</span>
                    <div class="preview">\{{content}}</div>
                </div>
                <div class="col-3">
                    <button class="btnEditNote btn-font-awesome" data-id="\{{_id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
            </div>
        </article>
        \{{/each}}
    </script>
</head>

<body>
<div class="app-wrapper">
    <header>
        <div class="row flex-container">
            <div class="col-1">
                <button id="btnAddNote" class="btn-green">Add note</button>
            </div>
            <div class="col-2">
                <select id="btnSelectSkin">
                    <option value="color">Color Style</option>
                    <option value="bw">Black &amp; White Style</option>
                </select>
            </div>
        </div>
        <div class="row flex-container">
            <div class="col-1">
                <div class="flex-container">
                    <button id="btnOrderByFinishDate" class="button-bar left">By finish date</button>
                    <button id="btnOrderByCreateDate" class="button-bar center">By create date</button>
                    <button id="btnOrderByPriority" class="button-bar right active">By importance</button>
                </div>
            </div>
            <div class="col-2">
                <button id="btnShowFinished" >Show finished</button>
            </div>
        </div>
    </header>
    <main id="taskListWrapper">
        <!--{{#each this}}-->
        <!--<article data-task-id="{{_id}}">-->
            <!--<div class="row flex-container">-->
                <!--<div class="col-1">-->
                    <!--<h1>Nächsten Mittwoch</h1>-->
                    <!--<div class="input-wrapper checkbox">-->
                        <!--<input class="checkboxFinishedTask" data-task-id="{{_id}}" type="checkbox" name="done" {{#if finished}}checked}{{/if}}>-->
                        <!--<label><span></span>Finished [Today]</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-2">-->
                    <!--<h1>{{title}}</h1>-->
                    <!--<div class="preview">{{content}}</div> Erstellt am: {{createDate}}-->
                    <!--<br>Zu erledigen bis: {{finishDate}} </div>-->
                <!--<div class="col-3">-->
                    <!--<button class="btnEditNote btn-black" data-task-id="{{_id}}">Edit</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</article>-->
        <!--{{/each}}-->
    </main>
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
