<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <title>Tasklist - Edit</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="app-wrapper">
    <main>
        <form id="noteForm">
            <div class="input-wrapper flex-container">
                <label for="in-title">Titel</label>
                <input type="text" id="in-title" value="{{title}}" placeholder="Titel" required></div>
            <div class="input-wrapper flex-container">
                <label for="in-description">Beschreibung</label>
                <textarea id="in-description" rows="18" placeholder="Beschreibung" required>{{content}}</textarea>
            </div>
            <div class="input-wrapper flex-container">
                <label>Wichtigkeit</label>
                <span id="icon-priority-wrapper">
                    <i class="fa fa-bolt icon-priority" data-priority="1" aria-hidden="true"></i>
                    <i class="fa fa-bolt icon-priority" data-priority="2" aria-hidden="true"></i>
                    <i class="fa fa-bolt icon-priority" data-priority="3" aria-hidden="true"></i>
                    <i class="fa fa-bolt icon-priority" data-priority="4" aria-hidden="true"></i>
                    <i class="fa fa-bolt icon-priority" data-priority="5" aria-hidden="true"></i>
                </span>
                <input type="hidden" id="in-priority" value="{{priority}}">
            </div>
            <div class="input-wrapper flex-container">
                <label>Erledigt bis</label>
                <input type="date" id="in-date" placeholder="TT/MM/YYYY" value="{{finishDate}}" required></div>
            <div class="input-wrapper flex-container txt-left top-20">
                <label></label>
                <span class="input-button-wrapper">
                    <button id="btnSaveNote" data-id="{{_id}}" class="btn-green">Speichern</button>
                    <button id="btnRemoveNote" data-id="{{_id}}" class="btn-red">Löschen</button>
                    <button id="btnCancelNote" data-id="{{_id}}" class="btn-cancel">Cancel</button>
                </span>
            </div>
        </form>
    </main>
</div>
<script src="/bower_components/jQuery/dist/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="/javascripts/services/configService.js"></script>
<script src="/javascripts/services/httpService.js"></script>
<script src="/javascripts/services/dataService.js"></script>
<script src="/javascripts/controller/noteController.js"></script>
</body>

</html>